@{
    ViewData["Title"] = "Notice";
}
<div class="container py-xl-5 py-lg-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="events-w3ls">
                <div class="d-flex">
                    <div class="col-sm-2 col-3 events-up p-3 text-center">
                        <a href="" style="text-decoration:none;">
                            <h5 class="text-white font-weight-bold">
                                28
                                <span class="border-top font-weight-light pt-2 mt-2">May</span>
                                <span class="border-top font-weight-light pt-2 mt-2"></span>
                                2018
                            </h5>
                        </a>
                    </div>
                    <div class="col-sm-10 col-9 events-right">
                        <a href="" style="text-decoration:none;">
                            <h4 class="text-dark">Admission Fair Spring </h4>
                        </a>
                        <p class="lead">
                            Here are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form.
                            <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex my-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="col-sm-2 col-3 events-up p-3 text-center">
                    <a href="" style="text-decoration:none;">
                        <h5 class="text-white font-weight-bold">
                            28
                            <span class="border-top font-weight-light pt-2 mt-2">May</span>
                            <span class="border-top font-weight-light pt-2 mt-2"></span>
                            2018
                        </h5>
                    </a>
                </div>
                <div class="col-sm-10 col-9 events-right">
                    <a href="" style="text-decoration:none;">
                        <h4 class="text-dark">Admission Fair Spring </h4>
                    </a>
                    <p class="lead">
                        Here are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.
                        <button type="button" class="btn btn-sm btn-info"><i class="fas fa-angle-double-right"></i>Read More</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
