@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="app-content">
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="~/DataDictionsry/Backend/images/AdminTeacher/admin.jpg" alt="" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            Arif
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Ariful Islam</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <label>Gender:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Male</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Blood Group:</label>
                        </div>
                        <div class="col-md-9">
                            <p>A-</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Religion:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Islam</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Address:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Sector-10,Uttara Model Town,Dhaka-1230</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fathers Name:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Anisur Rahman</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Mothers Name:</label>
                        </div>
                        <div class="col-md-9">
                            <p>Afroja Begum</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Phone No:</label>
                        </div>
                        <div class="col-md-9">
                            <p>+880 1773611681</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-9">
                            <p>16203087@iubat.edu</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Date Of Birth:</label>
                        </div>
                        <div class="col-md-9">
                            <p>20/11/1997</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
