@{
    ViewData["Title"] = "Subject";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="app-content">
    <div class="container">
        <h2 class="text-center">Subject Details</h2>
        <br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Subject Name</th>
                    <th>Class</th>
                    <th>Teacher Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Bangla</td>
                    <td>One</td>
                    <td>Rofiq</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>English</td>
                    <td>One</td>
                    <td>Salam</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Mathematics</td>
                    <td>One</td>
                    <td>Borkot</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>