@{
    ViewData["Title"] = "Contact Us";
}
<div class="container">
    <h1>Contact Us</h1>
    <hr />
    <div class="col-12 mb-5">
        <p>Sector-10 ,Uttara Model Town, Dhaka-1230.Bangladesh</p>
        <p>Phone: 425.555.0100</p>
        <p>Mobile : +88 01773611681, 01957884309 </p>
        <p>Fax: (880-2) 5895 2625</p>
        <p><a href="">Email : demo@gmail.com,</a></p>
        <p><a href="">Web : www.demo.edu</a></p>

    </div>
</div>