@{
    ViewData["Title"] = "Gallery";
}
<div class="content">
    <div class="container-fluid">
        <h1 class="py-5" style="font-family:BebasNeue;color:#8c929c;">MOMENTS</h1>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                <li data-target="#demo" data-slide-to="6"></li>
                <li data-target="#demo" data-slide-to="7"></li>
                <li data-target="#demo" data-slide-to="8"></li>
                <li data-target="#demo" data-slide-to="9"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/DataDictionsry/images/Gallery/Gallery.jpg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (1).jpeg" alt="Chicago" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (2).jpeg" alt="New York" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (3).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (4).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (5).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (6).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (7).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (8).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/DataDictionsry/images/Gallery/Gallery (9).jpeg" alt="Los Angeles" width="1250" height="500">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>We had such a great time </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <br />
        <div id="sidebar">
            <div class="widget sidemenu">
                <h1 class="single" style="font-family:BebasNeue;color:#8c929c;">MORE ALBUM</h1>
                <ul>
                    <li><a href="https://drive.google.com/drive/folders/1zvH70dtSAObuthpQMUzvnYUpN5laYzLJ?usp=sharing" target="_blank">International mother language day 2018</a></li>
                    <li><a href="https://drive.google.com/drive/folders/1JIOhSk7xIbiXFId8LmmxIOxw4elB3dQN?usp=sharing" target="_blank">Teacher's Day 2017</a></li>
                    <li><a href="https://drive.google.com/drive/folders/0B7MfhsWJtgjpTmgzeS1GRkpMRU0?usp=sharing" target="_blank">SJIS Faculty Meeting</a></li>
                    <li><a href="https://drive.google.com/drive/folders/0B7MfhsWJtgjpWGlBTlg3YmJxZnc?usp=sharing" target="_blank">SJIS Sports Day</a></li>
                    <li><a href="https://drive.google.com/drive/folders/0B7MfhsWJtgjpMWdCbUpuSWZ3WFE?usp=sharing" target="_blank">Halloween Day Celebration </a></li>
                    <li><a href="https://photos.app.goo.gl/cDyFy9NdHEkzHkSn1" target="_blank">Arts and Crafts</a></li>
                    <li><a href="" target="_blank">Ceremony</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
