@{
    ViewData["Title"] = "Subject";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="app-content">
    <div class="container">
        <h2 class="text-center">Subject Details</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Subject Name</th>
                    <th>Class</th>
                    <th>Teacher Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Bangla</td>
                    <td>One</td>
                    <td>Rofiq</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>