@{
    ViewData["Title"] = "Class Schdule";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="app-content">
    <div class="container">
        <h2 class="text-center">Today's Class Schdule</h2>
        <h4>Date: 12/11/2018</h4>
        <br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>class</th>
                    <th>Start At</th>
                    <th>Finish At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>One</td>
                    <td>09.00 Am</td>
                    <td>10.00 Am</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Two</td>
                    <td>11.00 Am</td>
                    <td>12.00 Am</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
