@{
    ViewData["Title"] = "Attendance Report";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="app-content">
    <div class="container">
        <h2 class="text-center">Attendance Report</h2>
        <h4>Teacher Name: Aaron</h4>
        <h4>Class: One</h4>
        <h4>Section: A</h4>
        <br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Total Class</th>
                    <th>Absent</th>
                    <th>Attendance Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>s-16</td>
                    <td>Asif</td>
                    <td>10</td>
                    <td>0</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>s-17</td>
                    <td>Atif</td>
                    <td>10</td>
                    <td>1</td>
                    <td>90%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
