@{
    ViewData["Title"] = "Attendance Report";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="app-content">
    <div class="container" style="width:80%">
        <div class="card m-auto bg-info text-dark ">
            <div class="card-header text-center bg-danger font-weight-bold text-white">Attendance Report</div>
            <div class="card-body p-5 m-5">
                <a class="btn btn-info btn-block m-2 p-2" asp-area="" asp-controller="Home" asp-action="TeacherAttendanceList">Section A</a>
            </div>
        </div>
    </div>
</div>
